<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a ng-href="#/user/{{model.userId}}" class="navbar-link margin-left-one" >
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand margin-left-one" >
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a ng-href="#/user/{{model.userId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<ul class="list-group padding-top-three">
    <div class="container">
        <div ng-repeat="website in model.websites">

            <li class="list-group-item">
                <a ng-href="#/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
                <a ng-href="#/user/{{model.userId}}/website/{{website._id}}"><span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </div>
    </div>
</ul>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <div class="container">
            <p class="navbar-text pull-right" >
                <a ng-href="#/user/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user">

                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>