<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ng-href="#/user/{{model.userId}}">
                Profile
            </a>
            {{model}}

            <p class="navbar-text pull-right">
                <a class="navbar-link" ng-click="model.update(model.user.username, model.user.firstName, model.user.lastName)">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">
    <h1>Profile</h1>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder={{model.user.firstname}}>
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder={{model.user.lastname}}>
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Logout</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <div class="container">
            <p class="navbar-text pull-right" >
                <a class="navbar-link">
                        <span class="glyphicon glyphicon-user">

                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>
