<nav class="navbar navbar-default navbar-fixed-top navbar-Mohsen-gray">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link navbar-white"><span class="glyphicon glyphicon-menu-left left-panel-glyph"></span></a>
            </p>
            <a class="navbar-brand navbar-white">Choose Widget</a>
        </div>
    </div>
</nav>


<ul class="list-group padding-top-three" >
    <div class="container">
        <li class="list-group-item">
            <a href="" ng-click="model.createWidget('HEADER')">Header</a>
        </li>
        <li class="list-group-item">
            <a >Label</a>
        </li>
        <li class="list-group-item">
            <a >HTML</a>
        </li>
        <li class="list-group-item">
            <a >Text Input</a>
        </li>
        <li class="list-group-item">
            <a >Link</a>
        </li>
        <li class="list-group-item">
            <a >Button</a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.createWidget('IMAGE')">Image</a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.createWidget('YOUTUBE')">YouTube</a>
        </li>
        <li class="list-group-item">
            <a  href="" ng-click="model.createWidget('TEXT')">Text Input</a>
        </li>
        <li class="list-group-item">
            <a >Data Table</a>
        </li>
        <li class="list-group-item">
            <a >Repeater</a>
        </li>
    </div>
</ul>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-Mohsen-gray">
    <div class="navbar-header">
        <div class="container">
            <p class="navbar-text pull-right" >
            <a href="#/user/{{model.uid}}" class="navbar-white"><span class="glyphicon glyphicon-user"></span></a>
            </p>
        </div>
    </div>
</nav>