<div class="container">
    <div ng-show="model.error1" class="alert alert-danger" role="alert">
        <p> Widget Name is empty</p>
    </div>
    <label for="text">Name</label>
    <input type="text"
           id="text"
           placeholder="Name"
           ng-model="model.widget.name"
           value="{{model.widget.name}}"
           class="form-control"/>

    <text-angular
            ng-model="model.widget.text"
            ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </text-angular>
</div>