<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="css/style.css" rel="stylesheet"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="col-xs-4 hidden-xs">
            <div class="navbar-header">
                <a class="navbar-brand pull-left" href="website-list.html" style="margin-left: 1em ">
                    <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>

                <a class="navbar-brand" href="#" style="margin-left: 0.5em">
                    Websites
                </a>

                <div class="navbar-text pull-right">
                    <a href="website-new.html" class="navbar-link">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="navbar-header">
                <a class="navbar-brand pull-left" href="website-list.html" style="margin-left: 1em ">
                    <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
                <a class="navbar-brand" href="#" style="margin-left: 2em">
                    Edit Website
                </a>
                <div class="navbar-text pull-right">
                    <a href="website-list.html" class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</nav>



<div class="container">
    <div class="row">
        <div class="col-xs-4 hidden-xs ">
            <div class="row padding-bottom-one">
                <a href="#" class="Mohsen_item">Blogging App</a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right margin-right-three"></span>
                </a>
            </div>
            <div class="row padding-bottom-one" >
                <a href="#" class="Mohsen_item">Address Book App</a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right margin-right-three"></span>
                </a>
            </div>
            <div class="row padding-bottom-one" >
                <a href="#" class="Mohsen_item">Script Testing App</a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right margin-right-three"></span>
                </a>
            </div>
            <div class="row padding-bottom-one" >
                <a href="#" class="Mohsen_item">Blogger</a>
                <a href="#">
                    <span class="glyphicon glyphicon-cog pull-right margin-right-three"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <form >
                <div class="form-group">
                    <label for="Name">Website Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Blogger">

                    </input>
                </div>
                <div class="form-group">
                    <label for="Descripton">Website Description</label>

                    <textarea class="form-control text-left" rows="10" id="Descripton" placeholder="Username">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

                    </textarea>
                </div>
            </form>
            <a class="btn btn-danger btn-block"
               href="website-list.html">Delete</a>
        </div>


    </div>



    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header">
            <div class="container">
                <p class="navbar-text pull-right" >
                    <a href="profile.html" class="navbar-link">
                            <span class="glyphicon glyphicon-user">
                            </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>

</body>
</html>